.nav {
    grid-area: n;
    background-color: orange;
}

.item a {
    text-decoration: none;
}
/*.item a:focus {*/
/*    color: red;*/
/*    background-color: gold;*/
/*}*/

.item a.active {
    color: gold;
    background-color: gold;
}

.active {
    background-color: gold;
}

.item .active {
    color: gold;
}