.dialogs {
    display: grid;
    grid-template-areas:
    "a b c";
    grid-template-columns: 3fr 5fr;
}

.dialogsItems {
    grid-area: a;
    padding: 10px;
}
.dialogsItems .name {
    text-decoration: none;
    font-size: 50px;
    background-color: white;
}

.dialogsItems .active{
    color: gold;
}

.sendMessage {
    grid-area: b;
    display: flex;
    flex-direction: column;
}

.messages {
    grid-area: c;
    padding: 10px;
    text-align: center;
    line-height: 3.3;
}

.messages .message {
    color: white;
}

.avatarMain {
    display: grid;
    grid-template-columns: 2fr 7fr;
    align-items: center;
}

.avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}